---
import LayoutHeader from "../layouts/LayoutHeader.astro";
const title: string = "Code Snippets - Contact";
const description: string = "Home of Code Snippets";
---

<LayoutHeader title={title} description={description}>
  <h1 class="font-extrabold text-5xl flex justify-center">Contacto</h1>
</LayoutHeader>
